/* Sticky navbar Starts */

.sticky-navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  color: black;
  z-index: 30;
  background-color: #f9f9f9;
  transition: 0.2s ease-in;
  border-bottom: 2px solid #333;
}

/* Sticky navbar Ends */

/* Modal Starts */

.overlay,
.modal {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

@keyframes overlay-in {
  0% {
    scale: 0 0.004;
  }
  33% {
    scale: 1 0.004;
  }
  66%,
  100% {
    scale: 1 1;
  }
}

.overlay {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 75%);
}

.overlay.open {
  visibility: visible;
  opacity: 1;
  animation: overlay-in 0.5s both;
}

@keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50%, -40%;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  z-index: 2;
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 0;
  translate: -50% -50%;
  box-shadow: 0 10px 30px rgb(0 0 0 /24%);
}

.overlay.open .modal {
  opacity: 1;
  visibility: visible;
  animation: modal-in 0.5s;
}

/* Modal Ends */

@media only screen and (max-width: 768px) {
  .navigation {
    width: 0; /* Initially hide the navigation */
    height: 100%;
    position: fixed;
    top: 0;
    right: 0; /* Position the navigation from the right side */
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    transition: width 0.3s ease; /* Add transition effect for width only */
  }

  .menu {
    width: 15rem; /* Width of the menu */
    height: 100%;
    position: absolute;
    top: 0;
    right: -15rem; /* Hide the menu off the screen initially */
    background: #eee;
    z-index: 200;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    transition: right 0.3s ease; /* Add transition effect for position only */
  }

  .show-menu {
    width: 100%; /* Show the navigation when the class is present */
  }

  .show-menu .menu {
    right: 0; /* Slide the menu in from the right side when the navigation is shown */
  }
}
